<html>
	<head>
		<meta id="MetaDescription" name="DESCRIPTION" content="" />
		<meta id="MetaKeywords" name="KEYWORDS" content="" />
		<link id="default" rel="stylesheet" type="text/css" href="style.css" />
		<script src="processing.js"></script> 
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="vars.js"></script> 
		<script type="text/javascript" src="funciones.js"></script>
		<style type="text/css">@import "jquery.svg.css";</style> 
		<script type="text/javascript" src="jquery.svg.package/jquery.svg.js"></script>
		<script type="text/javascript" src="jquery.svg.package/jquery.svggraph.js"></script>
		<script type="text/javascript" src="jquery.svg.package/jquery.svgfilter.js"></script>
		<script type="text/javascript" src="jquery.svg.package/jquery.svggraph.js"></script>
		<script type="text/javascript" src="jquery.svg.package/jquery.svgplot.js"></script>
		<script type="text/javascript" src="jquery.svg.package/jquery.svgdom.js"></script>
		<link rel="shortcut icon" href="favicon.ico">
		<LINK rel="fontdef" src="Purisa.ttf">
		
	</head>
  <body>
  	<div id="pagina">
		<div id="header">
			<div id="header-logos">
				<img alt="logo html5" src="icono-html5.png" />
				<a href="http://www.abredatos.es/" target="_blank" title="Desafío abredatos 2011">
					<img alt="logo abre datos" src="logo_2011p.png" />
				</a>
			</div>
			<a href="/"><img src="gallo-header.png" alt="Otros gallos cantarían" style="margin-left:9em; margin-top:1em; border:0;" /></a>
		</div>
		<div id="introduccion">
			<div id="introduccion-contenido">
				<h2>El proyecto</h2>
				<p>Otrosgallosgallos cantarían es un proyecto desarrollado durante el <a href="http://www.abredatos.es/" target="_blank" title="Desafío abredatos 2011">desafío abredatos 2011</a>, que ha tenido lugar los días 7 y 8 de mayo de 2011.</p>
				<p>Al encontrarnos en vísperas de unas nuevas elecciones autonómicas, nos ha resultado interesante plantearnos si la fórmula electoral actual (la ley d'Hont) representa de forma correcta las votaciones de los ciudadanos. Además, la aplicación permite visulizar cuáles hubieran sido los resultados (a nivel de escaños por partido) si se aplicasen otros sistemas electorales, tales como la ley d'Hont a nivel nacional y el método del resto mayor con diferentes cocientes: Droop, Hare e Imperiali.</p>
				<p>Los datos utilizados para la aplicación se han obtenido la web de ministerio del interior: </p>
				<ul>
					<li><a href="http://www.infoelectoral.mir.es/min/areaDescarga.html?method=inicio" target="_blank">Página de consulta de Resultados Electorales.</a></li>
				</ul>
				<h2>El equipo</h2>
				<p>El equipo de desarrollo está formado por:</p>
				<ul>
					<li>Juan Morales del Olmo (el que nos lio a todos para meternos en esto)</li>
					<li>Jorge Peña Pastor (el que nunca dice que no a un concurso de programación)</li>
					<li>Jaime Fernández Martín (el que pone algo de cordura en el equipo)</li>
					<li>Clara Izquierdo Sanz (el punto femenino y pragmático del equipo)</li>
				</ul>
				<p>Todos somos informáticos y excompañeros de carrera y supongo que echábamos de menos las palizas a programar durante los fines de semana.</p>
				<p><a href="/">&lt; Volver a la página de inicio</a></p>
			</div>	
		</div>
	</div>
	<div id="prefooter" style="margin-top:1em;">
		<div id="prefooter-contenido">		
			<a href="mailto:otrosgalloscantarian2011@gmail.com" class="enlace-correo" style="margin-left:3em;">otrosgalloscantarian2011@gmail.com</a>
			<span class="enlace-correo" style="margin-left:33em;">Contacta con nosotros: </span>
			<a href="mailto:otrosgalloscantarian2011@gmail.com" title="Contacta con nosotros">
				<img alt="icono correo" src="icono-correo.png" />
			</a>
			<a href="http://www.facebook.com/sharer.php?u=http://otrosgalloscantarian.appspot.com/" target="_blank" title="Compartir en facebook">
				<img style="border:0;" alt="icono facebook" src="icono-facebook.png" />
			</a>
			<a href="http://twitter.com/home?status=leyendo%20http://otrosgalloscantarian.appspot.com/" target="_blank" title="Compartir en twitter">
				<img style="border:0;" alt="icono twitter" src="icono-twitter.png" />
			</a>
		</div>	
	</div>
	
	<div id="footer">
		<div id="footer-contenido">
			<div class="enlacesFooter"><p style="margin-left:36em;"><a href="/about.html">About</a> | <a href="https://github.com/crispamares/otrosgalloscantarian" target="_blank" title="Código del proyecto">Código</a> | <a href="http://www.abredatos.es/" target="_blank" title="Desafío abredatos 2011">Abredatos</a><p></div>
			<span class="desarrolladoresFooter"><p>Desarollado por: los gallos</p></span>
		</div>
	</div>
</body>
</html>

