<html>
	<head>
		<meta id="MetaDescription" name="DESCRIPTION" content="" />
		<meta id="MetaKeywords" name="KEYWORDS" content="" />
		<link id="default" rel="stylesheet" type="text/css" href="style.css" />
		<script src="processing.js"></script> 
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="vars.js"></script> 
		<script type="text/javascript" src="funciones.js"></script>
		<style type="text/css">@import "jquery.svg.css";</style> 
		<script type="text/javascript" src="jquery.svg.package/jquery.svg.js"></script>
		<script type="text/javascript" src="jquery.svg.package/jquery.svggraph.js"></script>
		<script type="text/javascript" src="jquery.svg.package/jquery.svgfilter.js"></script>
		<script type="text/javascript" src="jquery.svg.package/jquery.svggraph.js"></script>
		<script type="text/javascript" src="jquery.svg.package/jquery.svgplot.js"></script>
		<link rel="shortcut icon" href="favicon.ico">
		<LINK rel="fontdef" src="Purisa.ttf">
		
	</head>
  <body>
  	<div id="pagina">
		<div id="header">
			<div id="header-logos">
				<img alt="logo html5" src="icono-html5.png" />
				<a href="http://www.abredatos.es/" target="_blank" title="Desafío abredatos 2011">
					<img alt="logo abre datos" src="logo_2011p.png" />
				</a>
			</div>
			<img src="gallo-header.png" alt="Otros gallos cantarían" style="margin-left:9em; margin-top:1em" />
		</div>
		<div id="contenido">
			<div id="menuLeyes">
				<ul class="menulateral">
					<li id="leydhont" class="leysel"><a class="enlacemenu" onClick="seleccionarLeyDhont()">Ley d'Hont</a></li>
					<li id="leydhontnacional"><a class="enlacemenu" onClick="seleccionarNDhont()">D'Hont Nacional</a></li>
					<li id="droop"><a class="enlacemenu" onClick="seleccionarDroop()">Cociente Droop</a></li>
					<li id="hare"><a class="enlacemenu" onClick="seleccionarHare()">Cociente de Hare</a></li>
					<li id="imperiali"><a class="enlacemenu" onClick="seleccionarImperiali()">Imperiali</a></li>
				</ul>
			</div>
			<div id="contenidoLeyes">
				<div id="graficos">
				    <form id="formulario" action="/" method="get">
				      <div>
				        Seleccione el año: <select onchange="cambiarAno()" id="select-ano" name="select-ano">
				          {% for year in years %}
				          <option value="{{ year }}">{{ year }}</option>
				          {% endfor %}
				          </select>
				        </div>
				    </form>
				    <div id="grafico-canvas">
					<canvas id="parlam_canvas" data-processing-sources="parlamento.pjs"></canvas>
					</div>
					<div id="grafico-info-adicional">
						Aquí la info
					</div>
					<div id="grafico2">
					</div>
				</div>
				<div id="descripcion">
					<div id="descripcioncorta">
					<h2>Ley d'hont</h2>
					<p>El sistema de D'Hondt es una fórmula electoral, creada por Victor d'Hondt, que permite obtener el número de cargos 
						electos asignados a las candidaturas, en proporción a los votos conseguidos.</p>
					</div>
					<div id="vermas">
						<a class="enlaceBoton" onClick="vermas()"><span style="margin-left:1em; float:left; margin-top:0.5em;">Leer más</span></a>
					</div>
					<div id="ocultar">
						<a class="enlaceBoton" onClick="ocultar()"><span style="margin-left:1em; float:left; margin-top:0.5em;">Ocultar</span></a>
					</div>
					<div id="descripcionmas">
						<p>Tras escrutar todos los votos, se calcula una serie de divisores para cada lista. La fórmula de los divisores es V/N, 
							donde V representa el número total de votos recibidos por la lista, y N representa cada uno de los números enteros de 
							1 hasta el número de cargos electos de la circunscripción objeto de escrutinio. Una vez realizadas las divisiones de 
							los votos de cada candidatura por cada uno de los divisores desde 1 hasta N, la asignación de cargos electos se hace 
							ordenando los cocientes de las divisiones de mayor a menor y asignando a cada uno un escaño hasta que éstos se 
							agoten.</p>
						<p>El orden en que se repartan los cargos electos a los individuos de cada lista no está dado por este sistema: puede ser 
							una decisión interna del partido (en un sistema de listas cerradas) o puede que los votantes ejerzan alguna influencia 
							(en un sistema de listas abiertas).</p>
						<p>A veces, las leyes electorales fijan un porcentaje mínimo de votos tal que los partidos que no consigan alcanzar ese 
							umbral quedan excluidos del cuerpo deliberante. En España, ese porcentaje es de 3%, aplicado a cada circunscripción 
							electoral, provincia.</p>
					</div>
				</div>
			</div>
			
		</div>	
	</div>
	<div id="prefooter">
		<div id="prefooter-contenido">		
			<a href="mailto:otrosgalloscantarian2011@gmail.com" class="enlace-correo" style="margin-left:14em;">otrosgalloscantarian2011@gmail.com</a>
			<span class="enlace-correo" style="margin-left:22em;">Contacta con nosotros: </span>
			<a href="mailto:otrosgalloscantarian2011@gmail.com" title="Contacta con nosotros">
				<img alt="icono correo" src="icono-correo.png" />
			</a>
			<a href="http://www.facebook.com/sharer.php?u=http://otrosgalloscantarian.appspot.com/" target="_blank" title="Compartir en facebook">
				<img style="border:0;" alt="icono facebook" src="icono-facebook.png" />
			</a>
			<a href="http://twitter.com/home?status=leyendo%20http://otrosgalloscantarian.appspot.com/" target="_blank" title="Compartir en twitter">
				<img style="border:0;" alt="icono twitter" src="icono-twitter.png" />
			</a>
		</div>	
	</div>
	<div id="footer">
		<div id="footer-contenido">
			<div class="enlacesFooter"><p style="margin-left:36em;">About | <a href="https://github.com/crispamares/otrosgalloscantarian" target="_blank" title="Código del proyecto">Código</a> | <a href="http://www.abredatos.es/" target="_blank" title="Desafío abredatos 2011">Abredatos</a><p></div>
			<span class="desarrolladoresFooter"><p>Desarollado por: los gallos</p></span>
		</div>
	</div>
</body>
</html>

