<?xml version="1.0" encoding="UTF-8"?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es-ES" lang="es-ES">
<head id="Head">
	<meta id="MetaDescription" name="DESCRIPTION" content="" />
	<meta id="MetaKeywords" name="KEYWORDS" content="" />
	<link id="_Portals__default_" rel="stylesheet" type="text/css" href="style.css" />
<title>
	Otros gallos cantar&iacute;n
</title></head>
<body>
	<div id="pagina">
		<div id="header">
			<img src="images/pollo-gordop.jpg" alt="Otros gallos cantarían" style="margin-left:10em; margin-top:1em" />
		</div>
		<div id="contenido">
			<div id="menuLeyes">
				<ul class="menulateral">
					<li><a href="#">Ley d'hont</a></li>
					<li><a href="#">Ley de manoli</a></li>
					<li><a href="#">Ley de pruebito</a></li>
				</ul>
			</div>
			<div id="contenidoLeyes">
				El contenido
			</div>
			
		</div>
		<div id="footer">
			<div class="enlacesFooter">About | Código | Abredatos</div>
			<span class="desarrolladoresFooter">Desarollado por: los gallos</span>
		</div>
	</div>
</body>
</html>